<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Form Konfigurasi Tagihan</title>
</head>
<body>

<section layout:fragment="content" class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Konfigurasi Jadwal Tagihan</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="post"
                              th:action="@{/jadwal/tagihan/konfigurasi/form}">
                            <div>
                                <label class="col-sm-3 form-control-label">Nama Konfig</label>
                                <div class="col-sm-9">
                                    <input  type="text"
                                            name="nama" th:class="form-control">
                                </div>
                            </div>

                            <div>
                                <label class="col-sm-3 form-control-label">Jenis Tagihan</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="jenisTagihan">
                                        <option>Pilih Salah Satu</option>
                                        <option th:each="data : ${jenisTagihan}"
                                                th:text="${data.nama}"
                                                th:value="${data.id}">Asrama</option>
                                    </select>
                                </div>
                            </div>

                            <div>
                                <label class="col-sm-3 form-control-label">Kode Biaya</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="kodeBiaya">
                                        <option>Pilih Salah Satu</option>
                                        <option th:each="data : ${kodeBiaya}"
                                                th:text="${data.nama}"
                                                th:value="${data.id}">Matrikulasi</option>
                                    </select>
                                </div>
                            </div>

                            <div>
                                <label class="col-sm-3 form-control-label">Tanggal Tagih</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="tanggalPenagihan">
                                        <option>Pilih Tanggal</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                    </select>
                                </div>
                            </div>

                            <div>
                                <label class="col-sm-3 form-control-label">Jumlah Penagihan</label>
                                <div class="col-sm-9">
                                    <input  type="text" name="jumlahPenagihan"
                                            th:class="form-control">
                                    <small></small>
                                </div>
                            </div>

                            <div>
                                <label class="col-sm-3 form-control-label">Mulai</label>
                                <div class="col-sm-9">
                                    <input  type="date" name="tanggalMulai" th:class="form-control">
                                </div>
                            </div>

                            <div>
                                <label class="col-sm-3 form-control-label">Jatuh Tempo</label>
                                <div class="col-sm-9">
                                    <input  type="text" value="12" readonly th:class="form-control">
                                </div>
                            </div>

                            <div>
                                <label class="col-sm-3 form-control-label">Akumulasi Otomatis</label>
                                <div class="col-sm-1">
                                    <input type="checkbox" checked name="otomatisAkumulasi"
                                           th:class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-9 offset-sm-3">
                                    <input type="submit" value="Simpan" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block layout:fragment="script">
    <script>
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#tanggalTagihan').datepicker({
            format: 'yyyy-mm-dd',
            uiLibrary: 'bootstrap4'
        });
    </script>
</th:block>
</body>
</html>
